body {
    background-color: orange;
}

.main_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.main_toDoList {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.toDoForm {
    display: flex;
    background-color: rosybrown;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.toDoForm label {
    display: inline;
    margin: 0px 0px 0px 30px;
    color: orangered;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
}

.toDoForm input {
    display: flex;
    border: none;
    outline: inherit;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin-left: 100px;
    
    line-height: 70px;
}

.toDoForm input::placeholder {
    font-size: 15px;
}

.main_screen .main_toDoList ul li {
    list-style: none;
    font-weight: bold;
}

.delBtn {
    border: none;
    background: green;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    padding: 0 auto;
    outline: inherit;
}